[Unit]
Description=fmp4streamer
After=network.target
[Service]
ExecStart=python3 fmp4streamer.py
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin:/bin
WorkingDirectory=/home/pi/fmp4streamer
[Install]
WantedBy=default.target
